.navbar {
    color: white;
    background-color: #660066;
    height: 100px;
}

img {
    padding: 20px;
    margin-left: 30px;

}

p {
    padding: 10px;
    margin-left: 100px;
}

label {
    padding: 10px;
    margin-left: 15px;
}

#dogInput {
    margin-left: 25px;
    margin-bottom: 10px;
}

#add_Dog {
    margin-left: 25px;
}

.btn, .btn:hover, .btn:active, .btn:focus {
    background-color: #cc0066;
    color: white;
    padding: 10px;
    margin-left: 25px;
     
}